
 <% layout("/layout/boilerplate")%>

 <div class="row">
    <div class="col-8 offset-2">
    <h3>Creat New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" >Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Title Looks good!
              </div> 
        </div>
       <div class="mb-3">
        <label for="description" >description</label>
        <textarea name="listing[description]" placeholder="enter Description" class="form-control" required></textarea>
        <div class="invalid-feedback">
            Please Enter a short description!
          </div>
       </div>
        <!-- <div class="mb-3">
            <label for="image" >Image link</label>
            <input name="listing[image]" placeholder="enter image URL/link" type="text" class="form-control">

        </div> -->


         <div class="mb-3">
            <label for="image" >Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" required>

        </div>




        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" >Price</label>
            <input name="listing[price]" placeholder="enter price"  class="form-control" required>
            <div class="invalid-feedback">
                Enter vaild price!
              </div>

        </div>
        <div class="mb-3 col-md-8">
            <label for="country" >Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Country name should be valid!
              </div>
           </div>
    </div>
       <div class="mb-3">
        <label for="location" >Location</label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
        <div class="invalid-feedback">
            Location should be valid!
          </div>

       </div>
       <div class="mb-3">
        <button class="btn btn-dark add-btn">Add</button>
    </div>

    </form>
    </div>
</div>
